.sidebar-link {
  display:block;
}

.sidebar{
  flex: 0 0 150px;
}

.content {
   flex: 1;
 }

body{
  display: flex;
  flex-direction: row;
  background-color:#a5effa;
  font-family:helvetica;
  font-weight:bold;

}
